{% extends '::base.html.twig' %}

{% block titleHead %}
index page
{% endblock titleHead %}

{% block body %}

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Hello World</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            </div>
        </div>
    </header>
{% endblock body %}